* {
  box-sizing: inherit
}

html, body, main {
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 241, 241);
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body > div#root {
  height: calc(100% - 64px);
}

main > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

@media only screen and (max-width: 600px) {
  body > div#root {
    height: calc(100% - 56px);
  }
}

.accordion__container {
  display: flex;
  flex-direction: column;
}

.accordion__summary {
  background-color: #fafafa;
  cursor: pointer;
  padding: 12px 16px;
  min-height: 48px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin: 0;
  justify-content: space-between;
  text-align: left;
}

.accordion__summary:focus-visible {
  background-color: rgba(0, 0, 0, 0.12);
}

.active__accordion {
  border-bottom: 0;
}

.accordion__icon {
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
  align-self: flex-start;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.accordion__icon-button.MuiButtonBase-root {
  margin-top: -10px;
  align-self: flex-start;
}

.rotate {
  transform: rotate(180deg);
}

.accordion__content {
  background-color: #fafafa;
  overflow: hidden;
  padding: 0 16px;
  max-height: 0;
  visibility: hidden;
}

.active__content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  visibility: visible;
}

#PageNotFoundContent {
  margin: 24px;
  min-height: clamp(150px, 25vw, 250px);
}

#PageNotFoundContent p {
  font-size: 1.375rem;
  margin: 0 0 22px;
}

#PageNotFoundHero {
  background-image: url("static/ufstadium.png");
  background-position: top left;
  background-size: cover;
  color: white;
  height: clamp(200px, 30vw, 300px);
  position: relative;
  width: 100vw;
}

#PageNotFoundHero .overlay {
  align-items: center;
  background: rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#PageNotFoundHero h1 {
  font-size: clamp(3.813rem, calc(5vw + 1rem), 5rem);
  line-height: .9;
  margin: 0 16px;
}

#PageNotFoundHero p {
  font-size: clamp(1.25rem, calc(1.75vw + .25rem), 1.75rem);
  margin: 0 16px;
}