body{
  margin: 0;
}

.login__body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../../../static/tower-login.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 85px 0px 50px;
  height: 305px;
}

.login__window{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 200px;
  width: 478px;
  border-radius: 4px;
  padding: 25px 0;
  padding-bottom: 40px;
}

.login__window_title {
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}

.login__window_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  background-color: rgb(40, 87, 151);
  height: 38.5px;
  width: 90%;
  padding: 26px 16px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  margin: 20px;

  cursor: pointer;
}

.login__window_button_logo {
  height: 36px;
}

.login__window_button_text {
  padding-left: 16px;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.login__window_text {
  margin: 10px;
  font-size: 17px;
}